/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


body.scanner-active {
    --background: transparent;
    --ion-background-color: transparent;
}

.toast-success {
    --background: green;
    --color: white;
    // --width: max-content;
    --height: 45px;
    --border-radius: 200px;
    position: sticky;
    margin-bottom: 10%;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    opacity: 0.83;
    top: 100%;
}

.toast-error {
    --background: red;
    --color: white;
    // --width: max-content;
    --height: 45px;
    --border-radius: 200px;
    position: sticky;
    margin-bottom: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    opacity: 0.83;
    top: 100%;
}
